<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AudioController.Properties.Settings>
            <setting name="Volume1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Volume2" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Volume3" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Volume4" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Volume5" serializeAs="String">
                <value>0.5</value>
            </setting>
        </AudioController.Properties.Settings>
    </userSettings>
</configuration>